@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .group-one:hover .group-one-hover\:flex,
  .group-two:hover .group-two-hover\:flex {
    display: flex;
  }
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

.ui-textfield_input {
  box-sizing: border-box;
  width: 100%;
  display: block;
  height: 40px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-neutral-900);
  background-color: #fff;
  border: 1px solid var(--color-neutral-900);
  border-radius: 4px;
  outline: none;
  transition: all 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.main-page-hXb {
  margin: 0 auto;
  max-width: var(--venia-global-maxWidth);
  /* min-height: 60rem; */
}
@media only screen and (min-width: 1200px) {
  .main-page-hXb {
    min-height: 412px;
  }
}
@media (min-width: 1180px) {
  .desktop_bg-neutral-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }
  .desktop_rounded-4 {
    border-radius: 4px;
  }
  .desktop_mt-12 {
    margin-top: 12px;
  }
}
@media only screen and (min-width: 1200px){
  .main-page-hXb {
    min-height: 412px;
}
}
.main-page-hXb {
  margin: 0 auto;
  max-width: var(--venia-global-maxWidth);
  min-height: 60rem;
}